html, body, h1, div, p, a, ul, li {
	margin: 0;
	padding: 0;
}

html, body {
	text-align: center;
	
	font-family: sans-serif;
	font-size: 22px;
	font-weight: normal;
	
	background-color: #f6f6f6;
	color: #673ab7;
}

a, a:link, a:visited {
	color: #009688;
	font-weight: normal;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

p {
	margin-top: 0.2em;
}

#wrapper {
	margin: 15% 10%;
}

#name {
	margin-bottom: 0;
	
	font-size: 2.5em;
	font-weight: normal;
}

#about {
	margin-top: 1em;
	margin-bottom: 1em;
}

#links {
	list-style-type: none;
}

#links li {
	display: inline;
}