html, body, h1, div, p, a, ul, li {
	margin: 0;
	padding: 0;
}

html, body {
	text-align: center;
	
	font-family: monospace;
	font-size: 22px;
	font-weight: normal;
	
	background-color: #161616;
	color: #8a4bfa;
}

a, a:link, a:visited {
	color: #00c7b4;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

p {
	margin-top: 0.2em;
}

#wrapper {
	margin: 15% 10%;
}

#name {
	margin-bottom: 0;
	
	font-size: 2em;
	font-weight: normal;
}

.section {
	margin-top: 1.5em;
}

.hor {
	list-style-type: none;
}

.hor li {
	display: inline;
}