{% extends "zola-hook/templates/page.html" %}

{% block extra_head %}
{{ super() }}
<link rel="stylesheet" href="{{ get_url(path='highlight.css', cachebust=true) }}">
{% endblock extra_head %}

{% block content %}
<main>
    <h1>{{ page.title }}</h1>
    {% if page.date %}
        <p class="secondary">
            {{ page.date | date(format="%-d %B, %Y") }}
            {% if page.updated %}
            (last update: {{ page.updated | date(format="%-d %B, %Y") }})
            {% endif %}
        </p>
    {% endif %}
    <div class="space"></div>
    {{ page.content | safe }}
</main>
{% endblock content %}
